@CHARSET "UTF-8";

body {
	display: table;
	table-layout: fixed;
	border-spacing: 5px;
	margin: 0;
	width: 100%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 15px;
}

.content {
	display: table-cell;
	padding: 10px;
}

.left {
	width: 30%;
}

.right {
	width: 70%;
}

.label {
	font-weight: bold;
	margin: 10px 0;
}

.box {
	margin: 15px 0 30px;
	background: #e6f3ff;
	box-shadow: 2px 2px 10px -2px rgba(64,96,128,1);
	border-radius: 10px;
}

.button-container {
	text-align: right;
	margin-bottom: 40px;
}

button {
	color: #000;
	background: #e6f3ff;
	box-shadow: 2px 2px 10px -2px rgba(64,96,128,1);
	border-radius: 10px;
	padding: 10px;
	border: 0;
	cursor: pointer;
}

input {
	color: #000;
	background: #fff;
	box-shadow: 2px 2px 10px -2px rgba(64,96,128,1);
	border-radius: 10px;
	padding: 10px;
	border: 0;
	width: calc(100% - 25px);
}

button:hover {
	background: #fff;
}

table {
	border-spacing: 5px;
	width: 100%;
}

td {
	vertical-align: top;
}

.option:hover {
	background: #fff;
	cursor: pointer;
}

.selected,.selected:hover {
	color: #fff;
	background: #1e90ff;
}

.datamodel tr {
	overflow: auto;
}

.datamodel tr {
	white-space: pre;
}

.uri .input {
	width: 100%;
}

.experiment-input-parameter {
	vertical-align: middle;
	width: 60%;
}

.experiment-input-value {
	width: 40%;
}
