@CHARSET "UTF-8";

body {
	margin: 0;
	width: 100%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 15px;
}

.right {
	width: 100%;
}

.label {
	font-weight: bold;
	margin: 10px 0;
}

.box {
	margin: 15px 0 30px;
	background: #e6f3ff;
	box-shadow: 2px 2px 10px -2px rgba(64,96,128,1);
	border-radius: 10px;
}

.button-container {
	text-align: right;
	margin-bottom: 40px;
}

button {
	color: #000;
	background: #e6f3ff;
	box-shadow: 2px 2px 10px -2px rgba(64,96,128,1);
	border-radius: 10px;
	padding: 10px;
	border: 0;
	cursor: pointer;
}

input {
	color: #000;
	background: #fff;
	box-shadow: 2px 2px 10px -2px rgba(64,96,128,1);
	border-radius: 10px;
	padding: 10px;
	border: 0;
	width: calc(100% - 10px);
}

input:focus, button:active {
	box-shadow: 2px 2px 10px -2px #000;
	outline: 0;
}

button:hover {
	background: #fff;
}

table {
	border-spacing: 5px;
	width: 100%;
}

th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px dotted #acc9e6;
	border-radius: 10px;
}

td {
	vertical-align: top;
	padding: 5px 10px;
}

.option:hover {
	background: #fff;
	cursor: pointer;
}

.selected,.selected:hover {
	color: #fff;
	background: #1e90ff;
}

.datamodel td {
	white-space: pre;
}

.datamodel td .comment {
	color: red;
}

.uri .input {
	width: 100%;
	min-width: 500px;
}

.experiment-input-parameter {
	vertical-align: middle;
	width: 60%;
}

.experiment-input-parameter.is-new {
	color: red;
}

.experiment-input-value {
	width: 40%;
}

.experiment-input-value input {
	width: calc(100% - 20px);
}

.pre-xy-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    max-height: 340px;
}
